body {
  background-color: #121212;
  color: white;
  font-size: 10px;
  font-family: "Press Start 2P", cursive;
  /* background-image: url(https://img.freepik.com/free-photo/grunge-vintage-old-paper-background_1373-431.jpg?w=1480&t=st=1694650657~exp=1694651257~hmac=9d0e8b776ea6634c69a8f702a2ad8119bc2d22be66ae41fcef2512462064432d); */
}

.container {
  /* margin: auto;
  margin-top: 250px;
  width: 500px; */
  height: 100%;
  width: 60%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.display-room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-to-user {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* overflow-anchor: none; */
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.641);
  border-radius: 10px;
  /* scrollbar-width: none; */
  overflow: hidden;
}

.display-to-user::-webkit-scrollbar-thumb {
  background: transparent;
}

#player-entered-text {
  margin: auto;
}

h1 {
  font-size: 100px;
  text-align: center;
}

input#player-entered-text {
  margin: auto;
  margin-top: 10px;
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  /* caret-color: transparent; */
  color: #8899a6;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  /* color: white; */
}

.user-input {
  color: rgb(34, 34, 34);
  font-style: italic;
  font-weight: 1000;
  color: white;
}

.hint-output {
  margin: auto;
  margin-top: 5px;
  padding: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
  color: rgb(233, 194, 3);
  border-radius: 20px;
  font-size: 8px;
}

.yellow {
  color: rgb(233, 194, 3);
}

.user-input {
  color: #8899a6;
}

/* /// BUTTON CLICK EFFECT */
.button-hint {
  transition: all 1s;
}

.button-hint:hover {
  transform: translateY(-3.5px);
  box-shadow: 0px 3px 3px gold;
}

.button-hint:active {
  transform: translateY(5.5px);
}

/* TYPE WRITER EFFECT */

.typewriter {
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  padding: 20px;
  animation: typing 3.5s steps(30, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
